.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.property {
  margin: auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 450px;
  height: 300px;
  margin: auto;
}

.instruction {
  display: none;
  /* display: flex; */
  height: 50vh;
  width: 50vw;
  /* align-items: center; */
  justify-content: center;
  margin: auto;
  margin-top: 10vh;
  border: 2px solid black;
  border-radius: 8%;
}
